html,body{
	box-sizing: border-box;
	margin:0px;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(/img/construction.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.contact_title{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.contact_title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact_title h2{
	font-size: 16px;
}
form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form_control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px; 
}
input{
	height: 45px;
}
form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}

.contact_form {
    width: 600px;
    margin: 0 auto;
    background: #0000004a;
    padding: 10px;
    border-radius: 10px;
    border-color: #933c0f;
}